<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Homepwner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>608CCAD41E4B66FB00B64D86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>608CCAE81E4B66FB00B64D86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>608CCAF31E4B66FB00B64D86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
